/*
Plugin Name: Advanced Custom Fields
Plugin URI: http://www.advancedcustomfields.com/
Description: Fully customise WordPress edit screens with powerful fields. Boasting a professional interface and a powerful API, itÕs a must have for any web developer working with WordPress. Field types include: Wysiwyg, text, textarea, image, file, select, checkbox, page link, post object, date picker, color picker, repeater, flexible content, gallery and more!
Version: 4.3.9
Author: Elliot Condon
Author URI: http://www.elliotcondon.com/
License: GPL
Copyright: Elliot Condon

CUSTOM CSS FOR ACF PLUGIN
*/

html {
	overflow-y: scroll;
}

/* metabox header */
.acf-postbox h3 {
	background: url(images/admin_logo.png) no-repeat left !important;
	background-color: #0168b3 !important;
	height:  80px !important;
	text-indent: -5000px;
}

.acf-postbox .handlediv:before {
	top: 25px !important;
	right: 25px !important;
}


/* basics - labels + input boxes */


.acf-field {
	padding: 20px 10px 20px 40px !important;
}

.acf-field .acf-label p,
.acf-field .acf-label a,
.acf-field .acf-label label {
    font-family: 'Open Sans', Arial, sans-serif;
	padding: 0 !important;
	margin: 0 !important;
	font-size: 14px !important;
	color: #8f8f8f !important; 
	line-height: 22px;
	text-shadow: none !important;
	text-transform: capitalize !important;
}

.acf-field .acf-label label {
	font-size:  20px !important;
	font-weight:  400 !important;
	color:  black !important;
	padding-bottom: 0px;
	margin-bottom: 0 !important;	
}

.acf-field .acf-label,
.acf-field .acf-input {
	position: relative;
	display: inline-block;
	width: 47.5% !important;
	clear: both;
	vertical-align: middle !important;
}

.acf-field.acf-field-wysiwyg .acf-label,
.acf-field.acf-field-wysiwyg .acf-input,
.acf-field.acf-field-relationship .acf-label,
.acf-field.acf-field-relationship .acf-input,
.acf-field.acf-field-repeater .acf-label,
.acf-field.acf-field-repeater .acf-input,
.acf-field.acf-field-flexible-content .acf-label,
.acf-field.acf-field-flexible-content .acf-input,
#acf-export-field-groups .acf-label,
#acf-export-field-groups .acf-input {
	width: 100% !important;
}


.acf-field.acf-field-repeater .acf-label .acf-label,
.acf-field.acf-field-repeater .acf-input .acf-input {
	clear: none !important;
}

.acf-field.acf-field-repeater .acf-input .acf-label {width: 20% !important; margin-right: 3% !important;}
.acf-field.acf-field-repeater .acf-input .acf-input { width: 75% !important;}

.acf-field .acf-input input,
.acf-field .acf-input select {
	min-height: 42px;
	padding: 0 10px;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
	-webkit-appearance: none !important;
}

.acf-icon { top: 10px !important; }


/* image/file/content types */
.acf-field.acf-field-image .acf-input .acf-image-uploader,
.acf-field.acf-field-file .acf-input .acf-file-uploader {
	text-align: center;
	float: none !important;
}

.acf-field.acf-field-image .acf-image-uploader .view,
.acf-field.acf-field-file .acf-file-uploader .view {float: none !important;}

.acf-field.acf-field-image .acf-image-uploader img {max-width: 22%; margin: 0 auto;}

.acf-field.acf-field-image .acf-input p a,
.acf-field.acf-field-file .acf-input p a {
	display: block;
	width: 125px;
	height: 35px !important;
	padding: 3px 10px 0px !important;
	margin: 0 auto;
}

.acf-oembed .canvas .acf-icon.-picture { top: 50% !important;}
.acf-field.acf-field-gallery .acf-gallery-toolbar .acf-hl li select {min-height: auto;}

.acf-row-handle .acf-icon.-plus {top: 15px !important;}
.acf-row-handle .acf-icon.-minus {bottom: 15px !important; top: auto !important;}


/* choice fields - select, radio, checkbox etc */
.acf-field .acf-input input[type=checkbox],
.acf-field .acf-input input[type=radio] {
	min-height: auto !important;
}

/* jQuery fields */
.acf-field .acf-input a.wp-color-result {height: 42px; padding-left: 40px;}
.acf-field .acf-input a.wp-color-result:after {padding: 10px 15px;}

/* repeaters */
.acf-table > tbody > tr:nth-of-type(even) td .acf-field,
.acf-table > tbody > tr:nth-of-type(even) td .acf-field:before,
.acf-table > tbody > tr:nth-of-type(even) .acf-field,
.acf-table > tbody > tr:nth-of-type(even) .acf-field:before {
	border-bottom: 1px solid #c1c1c1;
	border-top: 1px solid #c1c1c1;
	background: #ece9e9 !important;
}

.acf-table > tbody > tr:nth-of-type(even) td .acf-field:before {border: none;}


.acf-table > tbody > tr:nth-of-type(even) p {
	color: #000 !important;
}



/* messages aka group titles */
.acf-field.acf-field-message {
	padding: 25px 15px !important;
}

.acf-field.acf-field-message .acf-label,
.acf-field.acf-field-message .acf-input {
	position: relative;
	display: block;
	width: 100% !important;
	text-align: center;
}

.acf-field.acf-field-message .acf-label {display: none;}


.acf-field.acf-field-message .acf-input h1 {
	font-size: 30px;
	line-height: 1;
}

.acf-field.acf-field-message .acf-input p {
	margin-top: 5px;
	font-size: 15px;
	color: #777777 !important;
}

/* tabs */

.acf-tab-group {
	background: #ffffff !important;	
	margin: 0 !important;
	padding:  0 !important;
	height:  70px !important;
	border-left:  1px;
	border-right:  0px;
	border-top: 0px;
}

.acf-tab-group li {
    font-size: 18px !important;
	margin: 0 !important;
	border: 1px solid #dfdfdf !important;
	border-top: none !important;
}

.acf-tab-group li a {
    font-family: 'Open Sans', Arial, sans-serif;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    color: #999 !important;
    display: block !important;
    font-size: 18px !important;
	line-height: 70px !important;
    text-decoration: none !important;
	padding: 0 !important;
	transition: all 0.2s ease-in !important;
	-moz-transition: all 0.2s ease-in !important;
	-webkit-transition: all 0.2s ease-in !important;
	-o-transition: all 0.2s ease-in !important;	
	padding-right:  30px !important;
	padding-left:  30px !important;
	outline:  none !important;
	font-weight: 400 !important;
	border-radius: 0px;
}

.acf-tab-group {
    background: #f8f8f8 !important;
    border-top: 0px !important;
}

.acf-tab-group li.active a {
    color: black !important;
	font-weight:  normal !important;
	background:  #ffffff !important;
}

.acf-tab-group li a:hover {
	color: black !important;
	background: white !important;
}



